{% extends "layout.html" %}
{% block content%}
	<div class="content-section">
		<h1>Welcome to the Cloud Machine Learning Platform</h1>
	</div>
	<div class="content-section">
		<h2>Mission & Purpose</h2>
		<p> 
			This cloud application is aimed at user who have little or no prior knowledge of Machine Learning (ML).
			Using our services, these users will have access to ML processes without having to study, and program these 
			algorithms themselves, as the procedure of doing so is laborious. Thus, we would like to open the possibilites of ML to as many individuals and groups as possible.
		</p>
		<p>
			However, as the process of machine learning and artificial intelligence require fine-tuning, and hours of analysis, the results
			produced by this app should be considered tentative and rough. Hence, this app does not warrant precise and exact results but rather as an estimate and rough outline. 
		</p>
	</div>
	<div class="content-section">
		<h2>How It Works</h2>
		<p> 
			All we require from you is a dataset in csv format. We will take your data, and 'clean' it, if you haven't done so already.
			This means we, or rather the algorithm, will look at your data, and make it readable for the ML algorithms. Firstly, NaN values are filled. values,if your dataset is incomplete, the app will fill these data with the mean values of the data column. Secondly, irrelevant Data is deleted: not all of the data is useful for the ML algorithms, meta-data such as IDs will be deleted. More processes will be applied.
		</p>
		<p>
			After we finished cleaning your data, the data will be send to the ML algorithms, these will be trained
			using the cleaned version of your data. We offer both classification and regression algorithms. The results will be displayed to you, we will provide visualizations to show to outputs in an easy to digest format.
		</p>
	</div>
	<div class="content-section">
		<h2>
			How To Use
		</h2>
		<p>
			Before you can use the app you will need to <a href="{{url_for('register')}}">register</a>, and provide your email. Then you will be able to submit a query using your dataset in csv format. Then you'll need to select the type of learning you would like to use (classification or regression), when to choose what will be explained when you enter the details. Then you will also have the choice to delete columns of the dataset yourself if you like to do so. 
		</p>
	</div>
	<div class="border-top pt-3">
		<a class="nav-item nav-link" href="{{url_for('about')}}">
			Made by Husam Khan, Pedro Arabaelz , and Johannes Heidecke
		</a>
	</div>
{% endblock content %}