{% extends "layout.html" %}
{% block content%}
	<div class="content-section">
		<h1>About</h1>
		<p>
			Information about the creators of the application.
		</p>
	</div>
	<div class="content-section">
		<h3>Husam Khan</h3>
		<h6>MSci Computer Science with Cyber Security</h6>
		<p> 

		</p>
		<p>

		</p>
	</div>
	<div class="content-section">
		<h3>Pedro Arabaelz</h3>
		<h6>MSci Data Science</h6>
		<p> 

		</p>
		<p>

		</p>
	</div>
	<div class="content-section">
		<h3>Johannes Heidecke</h3>
		<h6>MSci Data Science</h6>
		<p>
	
		</p>
	</div>
{% endblock content %}