{% extends "layout.html" %}
{% block content%}
	<div class="content-section">
		<h1>Query</h1>
		<p>In the following form you are able to submit a query to the ML algorithm.
		 Below you can find the instructions that will guide you to successfully upload your file
		 , and select the right type of machine learning type. </p>
		<div class="border-top pt-3">
			<h4>What you need to do</h4>
			<ol>
				<h6><li>Select a CSV file</li></h6>
					<p>
						Only CSV file are allowed.
					</p>
				<h6><li>Select the type of machine learning</li></h6>
					<p>
						You need to select between classification and regression. The difference between these
						two lies in the fact that classification requires a target which is a variable with which 
						we can classify the data into categories. Thus, if you do have a such a target select
						classification, if not select regression. 
					</p>
        <h6><li>Select Target</li></h6>
          <p>
           You need to select a target (the name of a column of your dataset). This variable will be 
            the 'target' that the ML algorithms will solve for. 
				<h6><li>Submit query</li></h6>
				<h6><li>Wait for the process to finish</li></h6>
					<p>
						The analysis might take some time, this depends on the complexity of the data 
						you have entered. We will let you know once the process is finished.
					</p>
			</ol>
		</div>	
	 	<form method="POST" action="" enctype="multipart/form-data">
        	{{ form.hidden_tag() }}
         	<fieldset class="form-group">
          		<legend class="border-bottom mb-4">Submit Query</legend>
           			<div class="form-group">
                 	{{ form.csv.label() }}
                  	{{ form.csv(class="form-control-file")}}
                  	{% if form.csv.errors %}
                  		{% for error in form.csv.errors %}
                        	<span class="text-danger">{{ error }}</span></br>
                     	{% endfor %} 
                  	{% endif %}                   
                 	</div> 
                 	<div class="form-group">
                    {{ form.ml_type.label(class="form-control-label") }}
                    {% if form.ml_type.errors %}
                        {{ form.ml_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ml_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ml_type(class="form-control form-control-lg") }}
                    {% endif %}
               		</div>
               		<div class="form-group">
                    {{ form.target.label(class="form-control-label") }}
                    {% if form.target.errors %}
                        {{ form.target(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.target.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.target(class="form-control form-control-lg") }}
                    {% endif %}
               		</div>
                 	<div class="form-group">
                		{{ form.submit(class="btn btn-outline-info") }}
            		</div>
        	</fieldset>
     	</form>
    </div>
{% endblock content %}